[mpd]
hostname = 127.0.0.1

[logging]
debug_file = /var/log/mopidy/mopidy-debug.log
 
[http]
hostname = 127.0.0.1
 
[spotify]
username = ___SPOTIFY_USERNAME___
password = ___SPOTIFY_PASSWORD___

[scrobbler]
enabled = true
username = ___SCROBBLER_USERNAME___
password = ___SCROBBLER_PASSWORD___
